<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealer Home</title>
</head>
<body>
    <h1>Dealer Home</h1>
    <a href="{% url 'Dealer:add_vehicle' %}">Add Vehicle</a><br>
    <a href="{% url 'Dealer:dealer_vehicles' %}">dealer_vehicles</a><br>
    <a href="{% url 'Dealer:dealer_bookings' %}">dealer_bookings</a><br>
    <a href="{% url 'Dealer:dealer_vehicle_list' %}">dealer_vehicle_list</a><br>
    <a href="{% url 'Dealer:Dealer_booked_vehicel' %}">Dealer_booked_vehicel</a><br>
    <a href="{% url 'Dealer:dealer_profile' %}">dealer_profile</a><br>
    <a href="{% url 'Dealer:dealer_dashboard' %}">dealer_dashboard</a><br>
</body>
</html>