<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin Home</h1>
    <a href="{% url 'Admin:admin_customer_list'%}">admin_customer_list</a>
    <br>
    <a href="{% url 'Admin:admin_dealer_list'%}">admin_dealer_list</a>
    <br>
    <a href="{% url 'Admin:admin_showroom_list'%}">admin_showroom_list</a>
    <br>
    <a href="{% url 'Admin:view_complaints'%}">view_complaints</a>
    <br>
    <a href="{% url 'Admin:admin_dashboard'%}">admin_dashboard</a>
    <br>
    <a href="{% url 'Customer:index'%}">Logout</a>
</body>
</html>